.circle{
  height: 30px;
  width: 30px;
  margin: 5px;
  background: $bg-secondary;
  border: 1px solid $border-color;
  border-radius: 40px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
.circle.small{
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 30px;
}
.circle.xs-small{
  height: 16px;
  width: 16px;
  margin: 0px 2px 0px 0px;
  line-height: 15px;
  border-radius: 8px;
  border-width: 0px;
}
.circle.free{
  background: $positive;
}
.circle.reserved{
  background: $negative;
}
.wide-border {
  border-width: 2px;
}

