// Color Palette:
$primary: #3d6d8f;
$secondary: #8ca6b8;
$bg-primary: #ededed;
$bg-secondary: #dcdcdc;
$positive: #89bb87;
$negative: #ba6f6f;
$text-color: #303030;

// Fonts:
$basic-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$title-font: 'Trebuchet MS';


body {
  background: $bg-primary;
  font-family: $basic-font;
  color: $text-color;
}
h1{
  font-family: $title-font;
  font-weight: 700;
  font-size: 24px;
}
h2{
  font-family: $title-font;
  font-weight: 400;
  font-size: 18px;
}
#app-name{
  font-family: $title-font;
  font-size: 20px;
  color: #fff;
}
#app-name .logo{
  height: 30px;
  width: auto;
}

core-scaffold::shadow core-toolbar{
  background: $primary;
}
core-header-panel::shadow #mainContainer{
  background: $bg-primary;
}

core-toolbar{
  background: $primary;
}

// Nämä voisi varmaan siirtää omiin filuihin...

/* Phases area */
.phase.core-selected .phase-header{
  background: $primary;
}
.phase-header{
  background: $secondary;
  color: #fff;
  border-bottom: 1px solid $bg-secondary;
}
.phase-content{
  margin: 5px;
}
/* END Phases area */




