@import "palette";
@import "circle";


body {
  background: $bg-primary;
  font-family: $basic-font;
  font-size: 12px;
  color: $text-color;
}
h1{
  font-family: $title-font;
  font-weight: 700;
  font-size: 24px;
}
h2{
  font-family: $title-font;
  font-weight: 400;
  font-size: 18px;
}
h3{
  margin: 5px 0px 5px 0px;
  font-size: 16px;
  font-family: $title-font;
}
#app-name{
  font-family: $title-font;
  font-size: 20px;
  color: #fff;
}
#app-name .logo{
  height: 30px;
  width: auto;
}
core-scaffold::shadow core-toolbar{
  background: $primary;
}
core-header-panel::shadow #mainContainer{
  background: $bg-primary;
}
core-toolbar{
  background: $primary;
}
.right-panel{
  // border-left: 8px solid $bg-secondary;
  background: $bg-secondary;
  padding-right: 8px;
  padding-left: 8px;
}

/* Resource panel */
.resource-panel{
  background: $bg-primary;
  min-height: 280px;
  border-bottom: 2px solid $secondary;
  border-top: 2px solid $secondary;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.2);
     -moz-box-shadow:    0px 1px 8px 0px rgba(50, 50, 50, 0.2);
          box-shadow:         0px 1px 8px 0px rgba(50, 50, 50, 0.2);
}
.resource-panel-sections .section{
  padding-left: 5px;
  padding-right: 5px;
}
.resource-panel-sections .section:nth-child(2){
  border-left: 2px solid $secondary;
  border-right: 2px solid $secondary;
}
/* Resources and Skills */
.skills, .resources{
  overflow: auto;
  margin-bottom: 5px;
  box-sizing: border-box;
}
/* END Resource panel */



/* Phases area */
.phases-title{
  padding-left: 10px;
}
/* END Phases area */

/* Paper item button padding and smaller font size*/
phases-menu /deep/ details /deep/ .button-content {
  padding: 0px;
  font-size: 10px;
}
resource-list::shadow paper-item .button-content {
  padding: 0px !important;
}
resource-list /deep/ .button-content,
  skill-list /deep/ .button-content  {
 padding: 0px;
 font-size: 12px;
}
/*
.blink {
  -webkit-animation: blink 1s step-end 5;
  -moz-animation: blink 1s step-end 5;
  -o-animation: blink 1s step-end 5;
  animation: blink 1s step-end 5;
}

@keyframes blink {
  0% {opacity: 0.2}
  50% {opacity: 1 }
}
*/





