@import "../../styles/palette";
@import "../../styles/circle";

:host {
  display: block;
}

paper-radio-button::shadow #ink[checked] {
  color: $positive;
}
paper-radio-button::shadow #onRadio {
  background-color: $primary;
}
paper-radio-button[checked]::shadow #offRadio {
  border-color: $primary;
}
.allocate-hours{
  padding: 0px 10px;
}
.profile .profile-main-skill{
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 2px solid $bg-secondary;
}
.profile .profile-img img{
  width: 100%;
  height: auto;
  -webkit-clip-path: circle(33% at center);
  clip-path: circle(33% at center);
}
.profile-header{
  font-family: $title-font;
  font-size: 18px;
  height: 100px !important;
}
.profile-name{
  font-size: 22px;
  font-weight: 700;
  border-bottom: 4px solid $secondary;
  display: inline-block;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.profile-title{
  font-style: italic;
}
.profile-skills{
  overflow: auto;
}
.profile-skills ul{
  list-style-type: circle;
}
.profile-skills ul li{
  width: 50%;
  // display: inline;
  float: left;
}
.skill-header {
  padding-left: 10px;
  font-size: 14px;
}
.skill-list {
  font-size: 12px;
}
.select-style {
    padding: 0 3px;
    margin: 0px 5px;
    border: 1px solid #ccc;
    width: 45%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("/images/arrowdown.gif") no-repeat 95% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}