@import "../../styles/palette";
@import "../../styles/circle";

:host {
  display: block;
}
.phase > div{
  border-left: 1px solid $bg-secondary;
  border-right: 1px solid $bg-secondary;
  border-bottom: 1px solid $bg-secondary;
}
.phase.core-selected .phase-header{
  background: $primary;
}
.phase-header{
  background: $secondary;
  color: #fff;
  border-bottom: 1px solid $bg-secondary;
}
.phase-name{

}
.phase-duration{
  margin-top: 3px;
  font-size: 10px;
}
#phase_content > div{
  margin: 5px;
}
.phase-color-code{
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
}
.skill{
  height: 22px;
  line-height: 22px;
  padding-right: 2px;
  padding-left: 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid black;
}
details paper-item {
  margin-left: 5px;
}
