@import "../../styles/palette";

:host {
  display: block;
}
paper-button#createProject, paper-button#updateProject{
  margin-top: 15px;
}
.phase{
	// border-bottom: 1px solid $bg-secondary;
  margin-bottom: 2px;
  word-wrap: break-word;
}
paper-item.skill{
  cursor: initial;
}
#phase_content > div{
  margin: 5px;
}
.phase-duration{
  margin-top: 3px;
  font-size: 10px;
}
.phase-header{
  background: $secondary;
  color: #fff;
  //border-bottom: 1px solid $bg-secondary;
}
.phase-color-code{
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  max-height: 62px; //keksi parempi tapa...
  border:none;
  margin: 0;
  padding: 0;
  color: #fff;
  cursor: pointer;
}
// .phase > div{
//   border-left: 1px solid $bg-secondary;
//   border-right: 1px solid $bg-secondary;
//   border-bottom: 1px solid $bg-secondary;
// }
.phase.core-selected .phase-header{
  background: $primary;
}

core-icon{
	width: 16px;
}