@import "../../styles/palette";

:host {
  display: block;
}
paper-button#createProject, paper-button#updateProject{
  margin-top: 15px;
}
.phase{
	// border-bottom: 1px solid $bg-secondary;
  margin-bottom: 2px;
  word-wrap: break-word;
}
#phase_content > div{
  margin: 5px;
}
.phase-duration{
  margin-top: 3px;
  font-size: 10px;
}
.phase-header{
  background: $secondary;
  color: #fff;
  //border-bottom: 1px solid $bg-secondary;
}
.phase-color-code{
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  // max-height: 62px; //keksi parempi tapa...
  border:none;
  margin: 0;
  padding: 0;
  color: #fff;
  cursor: pointer;
  z-index: 99;
}
// .phase > div{
//   border-left: 1px solid $bg-secondary;
//   border-right: 1px solid $bg-secondary;
//   border-bottom: 1px solid $bg-secondary;
// }
.phase.core-selected .phase-header{
  background: $primary;
}

paper-item.skill::shadow .button-content {
  padding: 0px;
  font-size: 12px;
  padding-top: 3px;
}
paper-item.skill{
  cursor: initial;
}
.skill{
  height: 30px;
  line-height: 22px;
  padding-right: 2px;
  padding-left: 2px;
  margin-bottom: 2px;
}
.work-hours{
  // margin-top: 2px;
  margin-right: 25px;
  border-radius: 2px;
  color: white;
  padding: 2px 4px;
}

core-icon{
	width: 16px;
}