@import "../../styles/palette";

:host {
  display: block;
  font-size: 1px !important;
}
.resource{
  //height: 30px;
  line-height: 30px;
  background: $secondary;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 3px;
  color: #fff;
}
.resource.free{
  background: $positive !important;
}
.resource.reserved{
  background: $negative !important;
}
.resource.core-selected{
  background: #3d6d8f !important;
}
