@import "../../styles/palette";

:host {
  display: block;
}
#createProjectForm{
	width:100%;
}
.skill{
	padding: 15px;
	border-bottom: 1px solid $bg-secondary;
}
.skill.core-selected{
	background-color: $secondary;
}
.card{
	background-color: $bg-primary;
	padding: 15px;
	margin-bottom: 15px;
	margin-right: 10px;
}

paper-button{
	background-color: $bg-primary;
}
core-selector{
	overflow-y: auto;
}
paper-toast.addSuccess{
	color: $positive;
}
paper-toast.addError{
	color: $negative;
}