@import "../../styles/palette";
@import "../../styles/circle";

:host {
  display: block;
}
.skill{
  height: 30px;
  line-height: 30px;
  background: $secondary;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 3px;
  color: #fff;
}
.skill.core-selected{
	font-weight: 700;
  background: $primary !important;
}
// core-list{
//   height: 40px;
//   line-height: 40px;
//   background: $secondary;
// }